@page "/detail"
@layout TopLevelLayout
@inject IStateContext _context
@inject IPolarShadow _polarShadow
@inject INavigationService _nav
@inject IMyCollectionService _myCollection
@inject IImageCache _imageCache;

<Layout>
    <Header>
        @if (_nav.CanBack())
        {
            <Icon Type="left" Theme="outline" OnClick="Back" Class="cursor-point-style menu-icon" />
        }
    </Header>
    <Content Class="scroll-content three-stage-layout-content">
        @if (_isLoading)
        {
            <Spin Class="horizonal-cneter"/>
        }
        else if (_detail != null)
        {
            <Space Style="width:100%" Direction="DirectionVHType.Vertical" Align="center">
                <SpaceItem>
                    <Card Bordered="false" BodyStyle="padding:0px">
                        <Cover>
                            <img src="@_imageUrl" alt="img" style="width:200px" @onload="ImageOnLoad" />
                        </Cover>
                        <ChildContent>
                            <div style="height:45px">
                                <Text Strong Class="text-auto-hidden">@_detail.Name</Text>
                            </div>
                        </ChildContent>
                        </Card>
                </SpaceItem>
            </Space>
            <Space Direction="DirectionVHType.Vertical" Align="left">
                <SpaceItem>
                    <Title Level="4">简介</Title>
                    <Paragraph>@_detail.Description</Paragraph>
                </SpaceItem>
                <SpaceItem>
                    <Title Level="4">来源</Title>
                    <Text>@_detail.SiteName</Text>
                </SpaceItem>
                <SpaceItem>
                    <Title Level="4">剧集</Title>
                    @if(_detail.Seasons != null && _detail.Seasons.Count > 0)
                    {
                        <Space Direction="DirectionVHType.Vertical">
                            @foreach (var item in _detail.Seasons)
                            {
                                <SpaceItem>
                                    <strong style="display:block">@item.Name</strong>
                                    <Space Size="@(("16", "16"))" Direction="DirectionVHType.Horizontal" Wrap>
                                        @foreach (var item in item.Episodes)
                                        {
                                            <SpaceItem>
                                                <Button Type="@ButtonType.Default" Shape="@ButtonShape.Round" OnClick="()=>EpisodeClick(item)">@item.Name</Button>
                                            </SpaceItem>
                                        }

                                    </Space>
                                </SpaceItem>
                                
                            }
                        </Space>
                        
                    }
                    
                </SpaceItem>
            </Space>
        }
        else
        {
            <Empty/>
        }
        <div Class="fixed-widgets">
            <Button Icon="@IconType.Outline.Sync" Type="@ButtonType.Primary" Shape="@ButtonShape.Circle" OnClick="Refresh"></Button>
        </div>
    </Content>
    <Footer Class="three-stage-layout-footer" Style="height:60px">
        @if (!_isCollected.HasValue) { }
        else if (_isCollected == true)
        {
            <Button Style="width:100%;height:100%" OnClick="UncollectClick">取消收藏</Button>
        }
        else
        {
            <Button Style="width:100%;height:100%" OnClick="CollectClick">收藏</Button>
        }
    </Footer>
</Layout>

<style>
    .text-auto-hidden {
        display: -webkit-box;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
</style>
@code {
    public static string _summaryKey = "summary";
    public static string _stateDetailKey = "state_detail";
    private VideoDetail _detail;
    private string _imageUrl;
    private bool _isLoading = true;

    private bool? _isCollected = false;

    private ListGridType grid = new ListGridType()
    {
        Gutter = 16,
        Xs = 1,
        Sm = 2,
        Md = 4,
        Lg = 4,
        Xl = 6,
        Xxl = 8
    };

    protected override async Task OnInitializedAsync()
    {
        try
        {
            bool isFromCache = false;
            if (_context.TryGet(_stateDetailKey, out VideoDetail detail))
            {
                _detail = detail;
                isFromCache = true;
            }
            else if (_context.TryGet(_summaryKey, out VideoSummary summary) 
            && _polarShadow.TryGetSiteWithAbility(summary.SiteName, out IPolarShadowSite site, out IGetDetailAble getDetail))
            {
                isFromCache = false;
                _detail = await site.ExecuteAsync<VideoSummary, VideoDetail>(getDetail, summary);
            }

            if (_detail != null)
            {
                _isCollected = await _myCollection.HasAsync(_detail);
                if (isFromCache)
                {
                    _imageUrl = await _imageCache.GetCacheUrlAsync(_detail.ImageSrc);
                }
                else
                {
                    _imageUrl = _detail.ImageSrc;
                }
            }
        }
        finally
        {
            _isLoading = false;
        }
    }

    private async Task ImageOnLoad(ProgressEventArgs arg)
    {
        await _imageCache.RevokeUrlAsync(_imageUrl);
    }

    private void Back()
    {
        _nav.Back();
    }

    private async Task CollectClick(MouseEventArgs arg)
    {
        await _myCollection.AddToMyCollectionAsync(_detail);
        _isCollected = true;
    }

    private async Task UncollectClick(MouseEventArgs arg)
    {
        await _myCollection.RemoveFromMyCollectionAsync(_detail.Name);
        _isCollected = false;
        _imageCache.RemoveCache(_detail.ImageSrc);
    }

    private void EpisodeClick(VideoEpisode episode)
    {
        _nav.NavigateTo("/episode", new Dictionary<string, object>
        {
            { EpisodePage.EpisodeKey, episode },
            { EpisodePage.VideoNameKey, _detail.Name }
        }, new Dictionary<string, object>
        {
            { _stateDetailKey, _detail }
        }, true);
    }

    private async Task Refresh()
    {
        try
        {
            _isLoading = true;
            if (_polarShadow.TryGetSiteWithAbility(_detail.SiteName, out IPolarShadowSite site, out IGetDetailAble getDetail))
            {
                _detail = await site.ExecuteAsync<VideoSummary, VideoDetail>(getDetail, _detail);
            }

            if (_detail != null)
            {
                if (_isCollected.HasValue && _isCollected.Value)
                {
                    _imageUrl = await _imageCache.GetCacheUrlAsync(_detail.ImageSrc);
                    await _myCollection.AddToMyCollectionAsync(_detail);

                }
                else
                {
                    _imageUrl = _detail.ImageSrc;
                }
            }
        }
        finally
        {
            _isLoading = false;
        }

    }
}
